@use "@fontsource/zen-kaku-gothic-new";

body {
    font-family: "Zen Kaku Gothic New";

    background: #04090a;
    color: #ffffff;
}
button {
    color: #ffffff;
    background: #404b65;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    font-family: "Zen Kaku Gothic New";
    font-weight: medium;
    border: none;
}

a {
    color: #404b65;
    font-weight: bold;
    text-decoration: none;
    transition: 0.25s color;
}
.strip-whitespace {
    display: inline-flex;
}
.spoiler {
    color: transparent;
    background: #404b65;
    
    &:hover {
        color: inherit !important;
        background: #04090a !important;
    }
}

.version {
    margin-left: 0.5em;
    &, a {
        color: #fff3;
    }
    a:hover {
        color: #fff6;
    }
    
}

.drag-container {
    width: calc(100% - 1em);
    aspect-ratio: 5;
    margin: 0.5em;

    .drag {
        width: calc(100% - 2em);
        height: calc(100% - 2em);
        
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        box-shadow: 0 0 0 1px #fff3;
        border-radius: 0.5em;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &::before {
            content: "Drag & drop your game folder or click to select segatools.ini";
            color: #fff3;
        }

        input {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
        }
    }
}

h1 {
    margin: 0;
    position: relative;
    width: fit-content;
    font-weight: bolder;

    &, div {
        display: flex;
        align-items: center;
    }
    div {
        flex-direction: column;
    }
    img {
        margin-right: 0.5em;
    }

    .subtext {
        font-size: 0.5em;
        width: 100%;
        color: #fff6;
        letter-spacing: 0;
        font-weight: normal;
        white-space: nowrap;
    }
}

details {
    summary {
        font-size: 1.25em;
        margin: 1em 0;
        cursor: pointer;
    }
}

.container {
    width: 800px;
    margin: 1em 0;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
@media (max-width: 900px) {
    .container {
        width: calc(100% - 2em);
        transform: none;
        left: 1em;
    }
}

.source-container {
    aspect-ratio: 5/3;
    width: 100%;
}

.message-list {
    display: flex;
    flex-direction: column;
    
    .message {
        &.severe,
        &.error {
            --color: #df9daf;
            &::before {
                content: "✕";
            }
        }
        &.warning {
            --color: #dbce97;
            &::before {
                content: "!";
            }
        }
        &.success {
            --color: #91c9a4;
            &::before {
                content: "✓";
            }
        }
        &.loading {
            --color: #aaa;
            &::before {
                content: "..."
            }
        }

        padding: 0.5em 1em;
        background: #11131b;
        border-left: solid 0.25em var(--color);

        &::before {
            margin-right: 1em;
            color: var(--color);
            font-weight: bolder;
        }
    }
}

.patch-header {
    font-size: 1.5em;
    margin: 0.5em 0;
    padding: 0 0.5em;
    border-left: solid 0.125em #fff6;
    
    small {
        font-size: 0.625em;
        color: #fff6;
        margin-left: 1em;
    }
}
.patch-list {
    .patch {
        padding: 0.25em 0;
        display: flex;

        // it looks atrocious without flexbox so this'll have to do
        &::before {
            content: "•";
            margin-right: 0.5em;
        }

        input[type="checkbox"] {
            --size: 2em;
            margin: 0 1em;
            appearance: none;
            border: 1px solid #666;
            border-radius: var(--size) !important;
            height: var(--size);
            aspect-ratio: 1.75;
            cursor: pointer;
            position: relative;
            transition: 150ms background-color;
            background-color: black;
            // handle
            &::after {
                position: absolute;
                aspect-ratio: 1 / 1;
                border-radius: var(--size);
                height: calc( var(--size) * 0.8 );
                top: 50%;
                left: calc( var(--size) * 0.1 ); // (1 - 0.8) / 2
                transform: translateY(-50%);
                background-color:#666;
                content: '';
                transition: 150ms left;
            }
            &:checked {
                border: 1px solid #aaa;
                background: #404b65;
                &::after {
                    background: #aaa;
                    left: calc( 100% - calc( var(--size) * 0.9 ) ); // ((1 - 0.8) / 2) + 0.8
                }
            }
        }
        
        .patch-danger {
            color: #e1ab75;
        }
    }
}

.editor-warning,
.editor-error {
    width: 5px !important;
    margin-left: 5px !important;
    
    &.editor-error {
        background: #e250507f;
    }
    &.editor-warning {
        background:#f1d66a7f;
    }
}